* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  
  background-color: aqua;
  font-family: 'KoHo', sans-serif;
  align-items: center;
  justify-content: center;
}
.text {
  background-color: transparent;
  color: white;
  margin: 0;
  height: 90%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 20px;
  font-family: sans-serif;
  resize: none;
}
hr {
  margin: 0 10px 0 10px;
}
.left {
  flex-basis: 45%;
  background-color: black;
  color: darkorange;
}
.right {
  flex-basis: 45%;
  font-family: sans-serif;
  background-color: white;
  color: black;
  overflow: inherit;
}
.center {
  width: 50%;
  height: 95vh;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  margin: 30px;
  padding: 0%;
  padding-left: 20px;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.head {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.hright {
  margin-top: 5px;
  margin-bottom: 7px;
  color: black;
  border: 2px black;
  background-color: black;
  height: 2px;
}
span a {
  font-size: 10px;
}

@media only screen and (max-width: 768px ){
  .left{
    flex-basis: 100%;
  }
  .right{
    flex-basis: 100%;
  }
}